retinex_nafnet/checkpoint/baseline.pt
retinex_nafnet/checkpoint/finetuned.pt
nafnet/baseline.pth

nafnet/*.pth
retinex_nafnet/checkpoint/*.pt

dataset/train/
dataset/val/
dataset/test/

.venv/
__pycache__/
*.pyc
.pytest_cache/

**/outputs/

.DS_Store
Thumbs.db
.idea/
.vscode/
